<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sfdc">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autoFocus" />
    <uses-feature android:name="android.hardware.camera.front" />
    <uses-feature android:name="android.hardware.camera.front.autoFocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SFDC">
        <activity android:name=".Schedules"></activity>
        <activity android:name=".ScanCamera" />
        <activity android:name=".ShowProfile" />
        <activity
            android:name=".Scans"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".ScheduleViewModel"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".ScansViewModel"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".HomeViewModel"
            tools:ignore="Instantiatable" />
        <activity android:name=".NavHeaderLanding" />
        <activity android:name=".HeaderLanding" />
        <activity android:name=".LandingContent" />
        <activity android:name=".LandingBar" />
        <activity android:name=".Landing" />
        <activity android:name=".Profile" />
        <activity android:name=".Dashboard" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.SFDC.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>